<h1>Modelling</h1>

In [1]:
# Importing the necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Ridge
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
from sklearn.neural_network import MLPRegressor
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import GradientBoostingRegressor

In [3]:
def importData(location):
    data = pd.read_csv(location)
    return data

In [4]:
cv_2_200 = importData('../Data/cv_2_200.csv')
cv_2_200.head()

,Unnamed: 0,article_id,title,text,unique_tokens_rate,num_hrefs,num_imgs,num_videos,average_token_length,num_keywords,...,windows phone,windows update,windows xp,world cup,wp_scm_comment bonus,wrote blog,york city,york times,youtube channel,youtube videos
0,0,7014291,It's Time for a YouTube Competitor,It was reported last week that Yahoo is gettin...,0.640816,5.0,3.0,1.0,4.579592,5,...,0,0,0,0,0,0,0,0,0,1
1,1,7014327,The Ultimate Roundup of 2014's Biggest April F...,April Fools' marks the day when pranking goes ...,0.549618,4.0,1.0,0.0,4.636704,7,...,0,0,0,0,0,0,0,0,0,0
2,2,7014304,A Selfie and One Garish Jacket: How the Red So...,The 2013 World Series champion Boston Red Sox ...,0.577236,8.0,1.0,0.0,4.627451,7,...,0,0,0,0,0,0,0,0,0,0
3,3,7031995,African Telecom Proposes More Diverse Emoticons,Less than a week after Apple pledged to make i...,0.525896,4.0,1.0,0.0,5.083665,9,...,0,0,0,0,1,0,0,0,0,0
4,4,6541359,"Google to Launch Improved Android Camera App, ...",Android users may soon see a series of new fea...,0.588889,6.0,9.0,0.0,4.336022,7,...,0,0,0,0,0,0,0,0,0,0

In [5]:
tfidf_2_200 = importData('../Data/tfidf_2_200.csv')
tfidf_2_200.head()

,Unnamed: 0,article_id,title,text,unique_tokens_rate,num_hrefs,num_imgs,num_videos,average_token_length,num_keywords,...,windows phone,windows update,windows xp,world cup,wp_scm_comment bonus,wrote blog,york city,york times,youtube channel,youtube videos
0,0,7014291,It's Time for a YouTube Competitor,It was reported last week that Yahoo is gettin...,0.640816,5.0,3.0,1.0,4.579592,5,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.715661
1,1,7014327,The Ultimate Roundup of 2014's Biggest April F...,April Fools' marks the day when pranking goes ...,0.549618,4.0,1.0,0.0,4.636704,7,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000
2,2,7014304,A Selfie and One Garish Jacket: How the Red So...,The 2013 World Series champion Boston Red Sox ...,0.577236,8.0,1.0,0.0,4.627451,7,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000
3,3,7031995,African Telecom Proposes More Diverse Emoticons,Less than a week after Apple pledged to make i...,0.525896,4.0,1.0,0.0,5.083665,9,...,0.0,0.0,0.0,0.0,0.415438,0.0,0.0,0.0,0.0,0.000000
4,4,6541359,"Google to Launch Improved Android Camera App, ...",Android users may soon see a series of new fea...,0.588889,6.0,9.0,0.0,4.336022,7,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000

In [6]:
# Function for deleting column Unnamed: 0 and also creating df which only has numeric fields
def initialProcessing(data):
    data.drop('Unnamed: 0', axis=1, inplace=True)
    df = data.drop(['article_id', 'title', 'text', 'data_channel_cleaned', 'text_prepared', 'published_date_cleaned'], axis=1)
    return df

In [7]:
cv_2_200 = initialProcessing(cv_2_200)
cv_2_200

,unique_tokens_rate,num_hrefs,num_imgs,num_videos,average_token_length,num_keywords,min_avg_key,max_avg_key,avg_avg_key,href_avg_shares,...,windows phone,windows update,windows xp,world cup,wp_scm_comment bonus,wrote blog,york city,york times,youtube channel,youtube videos
0,0.640816,5.0,3.0,1.0,4.579592,5,1459.500,4817.692,3370.415,1833.333,...,0,0,0,0,0,0,0,0,0,1
1,0.549618,4.0,1.0,0.0,4.636704,7,0.000,3581.094,2556.367,8500.000,...,0,0,0,0,0,0,0,0,0,0
2,0.577236,8.0,1.0,0.0,4.627451,7,2270.889,3852.800,3018.167,2076.333,...,0,0,0,0,0,0,0,0,0,0
3,0.525896,4.0,1.0,0.0,5.083665,9,0.000,3581.094,1871.403,2200.000,...,0,0,0,0,1,0,0,0,0,0
4,0.588889,6.0,9.0,0.0,4.336022,7,3264.605,8453.451,5155.323,805.000,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
998,0.606557,6.0,2.0,0.0,4.913978,4,3264.605,5709.823,4020.608,1950.000,...,0,0,0,0,0,0,0,0,0,0
999,0.491018,4.0,2.0,0.0,4.674627,6,0.000,4352.491,2358.572,4200.000,...,0,0,0,0,0,0,0,0,0,0
1000,0.634518,3.0,0.0,2.0,4.177665,9,2126.118,6060.771,3296.052,3400.000,...,0,0,0,0,0,0,0,0,0,0
1001,0.447368,7.0,1.0,0.0,4.667961,8,0.000,4763.083,2709.129,0.000,...,0,0,0,0,0,0,0,0,0,0
1002,0.480412,5.0,2.0,0.0,4.429126,5,1404.841,3610.125,2717.930,1100.000,...,0,0,0,0,0,0,1,0,0,0

In [8]:
tfidf_2_200 = initialProcessing(tfidf_2_200)
tfidf_2_200

,unique_tokens_rate,num_hrefs,num_imgs,num_videos,average_token_length,num_keywords,min_avg_key,max_avg_key,avg_avg_key,href_avg_shares,...,windows phone,windows update,windows xp,world cup,wp_scm_comment bonus,wrote blog,york city,york times,youtube channel,youtube videos
0,0.640816,5.0,3.0,1.0,4.579592,5,1459.500,4817.692,3370.415,1833.333,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.715661
1,0.549618,4.0,1.0,0.0,4.636704,7,0.000,3581.094,2556.367,8500.000,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.000000
2,0.577236,8.0,1.0,0.0,4.627451,7,2270.889,3852.800,3018.167,2076.333,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.000000
3,0.525896,4.0,1.0,0.0,5.083665,9,0.000,3581.094,1871.403,2200.000,...,0.0,0.0,0.0,0.0,0.415438,0.0,0.000000,0.0,0.0,0.000000
4,0.588889,6.0,9.0,0.0,4.336022,7,3264.605,8453.451,5155.323,805.000,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
998,0.606557,6.0,2.0,0.0,4.913978,4,3264.605,5709.823,4020.608,1950.000,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.000000
999,0.491018,4.0,2.0,0.0,4.674627,6,0.000,4352.491,2358.572,4200.000,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.000000
1000,0.634518,3.0,0.0,2.0,4.177665,9,2126.118,6060.771,3296.052,3400.000,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.000000
1001,0.447368,7.0,1.0,0.0,4.667961,8,0.000,4763.083,2709.129,0.000,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.000000
1002,0.480412,5.0,2.0,0.0,4.429126,5,1404.841,3610.125,2717.930,1100.000,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.475936,0.0,0.0,0.000000

<h3>Splitting Data in Preparation for Modelling</h3>

In [10]:
def splitData(data):
    X = data.drop('shares',axis=1)
    y = data[['shares']]
    x_train, x_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=42)
    print((x_train.shape, x_test.shape), (y_train.shape,y_test.shape))
    return [x_train, x_test, y_train, y_test]

In [9]:
def standardizeTransform(x_train, x_test, y_train, y_test):
    scaler = StandardScaler().fit(x_train)
    x_train_scaled = scaler.transform(x_train)
    x_test_scaled = scaler.transform(x_test)
    y_train_log = np.log(1+y_train)
    y_test_log = np.log(1+y_test)
    return [x_train_scaled, x_test_scaled, y_train_log, y_test_log]

In [11]:
x_train_cv, x_test_cv, y_train_cv, y_test_cv = splitData(cv_2_200)

((802, 223), (201, 223)) ((802, 1), (201, 1))

In [12]:
x_train_scaled_cv, x_test_scaled_cv, y_train_log_cv, y_test_log_cv = standardizeTransform(x_train_cv, x_test_cv, y_train_cv, y_test_cv)

In [13]:
x_train_tf, x_test_tf, y_train_tf, y_test_tf = splitData(tfidf_2_200)

((802, 223), (201, 223)) ((802, 1), (201, 1))

In [14]:
x_train_scaled_tf, x_test_scaled_tf, y_train_log_tf, y_test_log_tf = standardizeTransform(x_train_tf, x_test_tf, y_train_tf, y_test_tf)

<h1>Models</h1>

In [15]:
# Fit Model and Evaluate
def fitPredict(x_train, y_train, x_test, y_test, model, testEval):
    model.fit(x_train, y_train)
    if testEval == True:
        y_hat = model.predict(x_test)

        print("Test R2 score: "+ str(r2_score(y_test,y_hat)))
        print("Test MAE: "+ str(mean_absolute_error(y_test,y_hat)))
        print("Test RMSE: "+ str(np.sqrt(mean_squared_error(y_test,y_hat))))

    elif testEval == False:
        y_hat = model.predict(x_train)

        print("Test R2 score: "+ str(r2_score(y_train,y_hat)))
        print("Test MAE: "+ str(mean_absolute_error(y_train,y_hat)))
        print("Test RMSE: "+ str(np.sqrt(mean_squared_error(y_train,y_hat))))
    else:
        return 0

    return model

In [16]:
# Linear Model Train set prediction and Evaluation
print('Count Vectorizer Train Set Results:')
lm = fitPredict(x_train_scaled_cv, y_train_log_cv, x_test_scaled_cv, y_test_log_cv, LinearRegression(), False)
print('tfidf Train set Results:')
lm = fitPredict(x_train_scaled_tf, y_train_log_tf, x_test_scaled_tf, y_test_log_tf, LinearRegression(), False)

Count Vectorizer Train Set Results:
Test R2 score: 0.35906749933010995
Test MAE: 0.5050545500509469
Test RMSE: 0.6600342801480844
tfidf Train set Results:
Test R2 score: 0.3503478025519683
Test MAE: 0.5139187529106072
Test RMSE: 0.6645088980129954

In [17]:
# Linear Model Test set prediction and Evaluation
print('Count Vectorizer Test Set Results:')
lm = fitPredict(x_train_scaled_cv, y_train_log_cv, x_test_scaled_cv, y_test_log_cv, LinearRegression(), True)
print('tfidf Test set Results:')
lm = fitPredict(x_train_scaled_tf, y_train_log_tf, x_test_scaled_tf, y_test_log_tf, LinearRegression(), True)

Count Vectorizer Test Set Results:
Test R2 score: -9.484555140145596e+22
Test MAE: 19186723527.3798
Test RMSE: 260296294219.10306
tfidf Test set Results:
Test R2 score: -4.75898955153067e+21
Test MAE: 4126928514.3153925
Test RMSE: 58306487305.06622

In [18]:
# Ridge Train set prediction and Evaluation
print('Count Vectorizer Train Set Results:')
rm = fitPredict(x_train_scaled_cv, y_train_log_cv, x_test_scaled_cv, y_test_log_cv, Ridge(), False)
print('tfidf Train set Results:')
rm = fitPredict(x_train_scaled_tf, y_train_log_tf, x_test_scaled_tf, y_test_log_tf, Ridge(), False)

Count Vectorizer Train Set Results:
Test R2 score: 0.3594376181280087
Test MAE: 0.504930443090036
Test RMSE: 0.6598436778834783
tfidf Train set Results:
Test R2 score: 0.35030067368941864
Test MAE: 0.5140328010482187
Test RMSE: 0.6645330008950299

In [19]:
# Ridge Test set prediction and Evaluation
print('Count Vectorizer Train Set Results:')
rm = fitPredict(x_train_scaled_cv, y_train_log_cv, x_test_scaled_cv, y_test_log_cv, Ridge(), True)
print('tfidf Train set Results:')
rm = fitPredict(x_train_scaled_tf, y_train_log_tf, x_test_scaled_tf, y_test_log_tf, Ridge(), True)

Count Vectorizer Train Set Results:
Test R2 score: -0.8239217200808162
Test MAE: 0.8298499412157989
Test RMSE: 1.1414650009612228
tfidf Train set Results:
Test R2 score: -0.1089526347667964
Test MAE: 0.7273328584170243
Test RMSE: 0.8900532716093941

In [20]:
# MLPRegressor Train set prediction and Evaluation
print('Count Vectorizer Train Set Results:')
rm = fitPredict(x_train_scaled_cv, y_train_log_cv, x_test_scaled_cv, y_test_log_cv, MLPRegressor(), False)
print('tfidf Train set Results:')
rm = fitPredict(x_train_scaled_tf, y_train_log_tf, x_test_scaled_tf, y_test_log_tf, MLPRegressor(), False)

Count Vectorizer Train Set Results:

C:\Users\ituser\anaconda3\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:1599: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Test R2 score: 0.6874851370704871
Test MAE: 0.31125734660055704
Test RMSE: 0.46088829981902363
tfidf Train set Results:

C:\Users\ituser\anaconda3\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:1599: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Test R2 score: 0.7421200599644315
Test MAE: 0.2634318108722671
Test RMSE: 0.41866738040288604

In [22]:
# MLPRegressor Test set prediction and Evaluation
print('Count Vectorizer Test Set Results:')
rm = fitPredict(x_train_scaled_cv, y_train_log_cv, x_test_scaled_cv, y_test_log_cv, Ridge(), True)
print('tfidf Test set Results:')
rm = fitPredict(x_train_scaled_tf, y_train_log_tf, x_test_scaled_tf, y_test_log_tf, Ridge(), True)

Count Vectorizer Test Set Results:
Test R2 score: -0.8239217200808162
Test MAE: 0.8298499412157989
Test RMSE: 1.1414650009612228
tfidf Test set Results:
Test R2 score: -0.1089526347667964
Test MAE: 0.7273328584170243
Test RMSE: 0.8900532716093941

In [23]:
# Gradient Bossting Regressor Train set prediction and Evaluation
print('Count Vectorizer Train Set Results:')
rm = fitPredict(x_train_scaled_cv, y_train_log_cv, x_test_scaled_cv, y_test_log_cv, GradientBoostingRegressor(), False)
print('tfidf Train set Results:')
rm = fitPredict(x_train_scaled_tf, y_train_log_tf, x_test_scaled_tf, y_test_log_tf, GradientBoostingRegressor(), False)

Count Vectorizer Train Set Results:

C:\Users\ituser\anaconda3\lib\site-packages\sklearn\ensemble\_gb.py:494: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Test R2 score: 0.550353263985458
Test MAE: 0.44206000017082697
Test RMSE: 0.5528356835214052
tfidf Train set Results:

C:\Users\ituser\anaconda3\lib\site-packages\sklearn\ensemble\_gb.py:494: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Test R2 score: 0.5287719271283926
Test MAE: 0.45053932483381687
Test RMSE: 0.5659472087920016

In [40]:
# Gradient Boosting Regressor Test set prediction and Evaluation
print('Count Vectorizer Test Set Results:')
rm = fitPredict(x_train_scaled_cv, y_train_log_cv, x_test_scaled_cv, y_test_log_cv, GradientBoostingRegressor(), True)
print('tfidf Test set Results:')
rm = fitPredict(x_train_scaled_tf, y_train_log_tf, x_test_scaled_tf, y_test_log_tf, GradientBoostingRegressor(), True)

Count Vectorizer Train Set Results:

C:\Users\ituser\anaconda3\lib\site-packages\sklearn\ensemble\_gb.py:494: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Test R2 score: 0.05204890507097881
Test MAE: 0.6705383539978528
Test RMSE: 0.8229102438707641
tfidf Train set Results:

C:\Users\ituser\anaconda3\lib\site-packages\sklearn\ensemble\_gb.py:494: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Test R2 score: 0.0739656911208163
Test MAE: 0.6544986906639244
Test RMSE: 0.8133417034381053