<h1>Modelling for Loan Eligibility Prediction</h1>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [23]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score, f1_score, recall_score, precision_score
from sklearn.utils import resample

<h3>Importing Data</h3>

In [3]:
# Loading the dataset into the notebook
data = pd.read_csv('../data/selected_data.csv')
data.head()

,Unnamed: 0,Married_Encoded,Education_Encoded,Credit_History_Encoded,Property_Area_Encoded,graduatedMarriedMale_Encoded,GME_Encoded,selfemp_Proparea_Encoded,Loan_Status
0,0,0.628141,0.706546,0.795789,0.642857,0.622517,0.624365,0.678947,1
1,1,0.712329,0.706546,0.795789,0.606061,0.751908,0.751908,0.600000,0
2,2,0.712329,0.706546,0.795789,0.642857,0.751908,0.751908,0.523810,1
3,3,0.712329,0.595041,0.795789,0.642857,0.622517,0.624365,0.678947,1
4,4,0.628141,0.706546,0.795789,0.642857,0.622517,0.624365,0.678947,1

In [4]:
data.drop('Unnamed: 0', axis=1, inplace=True)

In [5]:
data

,Married_Encoded,Education_Encoded,Credit_History_Encoded,Property_Area_Encoded,graduatedMarriedMale_Encoded,GME_Encoded,selfemp_Proparea_Encoded,Loan_Status
0,0.628141,0.706546,0.795789,0.642857,0.622517,0.624365,0.678947,1
1,0.712329,0.706546,0.795789,0.606061,0.751908,0.751908,0.600000,0
2,0.712329,0.706546,0.795789,0.642857,0.751908,0.751908,0.523810,1
3,0.712329,0.595041,0.795789,0.642857,0.622517,0.624365,0.678947,1
4,0.628141,0.706546,0.795789,0.642857,0.622517,0.624365,0.678947,1
...,...,...,...,...,...,...,...,...
559,0.628141,0.706546,0.795789,0.606061,0.622517,0.615385,0.600000,1
560,0.712329,0.706546,0.795789,0.606061,0.751908,0.751908,0.600000,1
561,0.712329,0.706546,0.795789,0.642857,0.751908,0.751908,0.678947,1
562,0.712329,0.706546,0.795789,0.642857,0.751908,0.751908,0.678947,1
563,0.628141,0.706546,0.078652,0.774194,0.622517,0.615385,0.678947,0

In [6]:
def splitData(data):
    X = data.drop('Loan_Status',axis=1)
    y = data[['Loan_Status']]
    x_train, x_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=42)
    print((x_train.shape, x_test.shape), (y_train.shape,y_test.shape))
    return [x_train, x_test, y_train, y_test]

In [7]:
def standardizeTransform(x_train, x_test, y_train, y_test):
    scaler = StandardScaler().fit(x_train)
    x_train_scaled = scaler.transform(x_train)
    x_test_scaled = scaler.transform(x_test)
    y_train_log = np.log(1+y_train)
    y_test_log = np.log(1+y_test)
    return [x_train_scaled, x_test_scaled, y_train_log, y_test_log]

In [8]:
x_train, x_test, y_train, y_test = splitData(data)

((451, 7), (113, 7)) ((451, 1), (113, 1))

In [9]:
#x_train_scaled, x_test_scaled, y_train_log, y_test_log = standardizeTransform(x_train, x_test, y_train, y_test)

In [21]:
# Fit Model and Evaluate
def fitPredict(x_train, y_train, x_test, y_test, model):
    model.fit(x_train, y_train)

    y_hat = model.predict(x_test)

    #print("Train R2 score: "+ str(model.score(x_train,y_train)))
    print("Test F1 Score: "+ str(f1_score(y_test,y_hat)))
    print("Test Precision: "+ str(precision_score(y_test,y_hat)))
    print("Test Recall: "+ str(recall_score(y_test,y_hat)))

    return model

In [14]:
# Baselining using mean

print("Test R2 score: "+ str(r2_score(y_test,np.mean(y_train))))
print("Test MAE: "+ str(mean_absolute_error(y_test,np.mean(y_train))))
print("Test RMSE: "+ str(np.sqrt(mean_squared_error(y_test,np.mean(y_train)))))

C:\Users\ituser\anaconda3\lib\site-packages\numpy\core\fromnumeric.py:3472: FutureWarning: In a future version, DataFrame.mean(axis=None) will return a scalar mean over the entire DataFrame. To retain the old behavior, use 'frame.mean(axis=0)' or just 'frame.mean()'
  return mean(axis=axis, dtype=dtype, out=out, **kwargs)

ValueError: Found input variables with inconsistent numbers of samples: [113, 1]

In [22]:
# Logistic Model Test set prediction and Evaluation
print('Count Vectorizer Test Set Results:')
lm = fitPredict(x_train, y_train, x_test, y_test, LogisticRegression())

Count Vectorizer Test Set Results:
Test F1 Score: 0.8848484848484848
Test Precision: 0.8021978021978022
Test Recall: 0.9864864864864865

C:\Users\ituser\anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

<h3>Upsampling</h3>